<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga Website</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <!---<h1>THE YOGA GURU</h1>--->
    <!-----<section class="head">
        <nav>
            <div class="navb">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">COURSE</a></li>
                    <li><a href="">BLOG</a></li>
                </ul>
            </div>
        </nav>
    </section > 
    ---->
    <div class="container">
        <div class="navbar">
            <img src="images/yoga logo1.jpg" class="logo">
                <nav>
                    <ul>
                      <li><a href="">HOME</a></li>
                      <li><a href="">ABOUTUS</a></li>
                      <li><a href="">CONTACT US</a></li>
                      <li><a href="">BLOG</a></li>
                  </ul>
              </nav>
        </div>
        <div class="row">
            <div class="col-1">
                <h2>welcome to<br>The yoga guru</h2>
                <h3>live a healthy fit and long life join us in doing yoga</h3>
                <button type="button">join</button>
            </div>
            <div class="col-2">
                <img src="images/image 24.jpg" class="control">

            </div>

        </div>
     </div> 
    <!----<section class="secright">
             <h3 class="section">benefits of yoga</h3>
             <p class="sectionsubtag">"Yoga increases your flexibility. ...
                Yoga helps you to build strength. ...
                Yoga improves your posture. ..."</p>
         <div class="thumb">
             <img src="images/image26.jpg" class="imgfluid">
         </div>
    </section>---->
    <section class="contact">
        <h2 class="text-center">Contact Us</h2>
        <div class="form">
            <input class="form-input" type="text" name="name" id="name" v-model="name" placeholder=" enter your name">
            <input class="form-input" type="text" name="phone" id="phone" v-model="phone" placeholder=" enter your phoneno">
            <input class="form-input" type="email" name="email" id="email" v-model="email" placeholder=" enter your email">
            <textarea class="form-input"id="text" cols=30 rows=10>write about you</textarea>
            <button class="button"type="button">submit</button>

        </div>
    </section>
    <footer class="text-footer">
        copyright &copy;2025-allrights reserved
    </footer>
    <!-----
   <script>
       const myjson={
           "name":document.getElementById("name"),
           "phone":document.getElementById("phone"),
           "email":document.getElementById("email"),
       };
       console.log(myjson.phone);

   </script>*/----->
          
</body>
</html>